body {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
  }
  
  header {
    background-color: #3cb9b9;
    padding: 20px;
    margin: 10px;
    border: 5 px solid #000000;
    text-align: center;
  }
  
  h1 {
    font-size: 4em;
    text-align: center;
  }
  
  p {
    font-size:xx-large;
  }
  h2 {
    font-size:xx-large;
  }

  section {
    padding: 20px;
    margin: 10px;
    background-color: #f4f809;
  }
  
  #introduction {
    padding: 20px;
    margin: 20px;
    border: 5 px solid #000000;
  }
  
  #skills ul {
    list-style:  square;
    padding: 20px;
    margin: 20px;
    font-size:xx-large;
  }
  
  #skills li {
    border: 1px solid #000000;
    padding: 10px;
    margin: 20px;
  }
  
  #contact {
    background-color: #d0d0d0;
    font-size:large;
  }
  
  /*Responsive Media Queries */
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5em;
    }
  
    section {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.2em;
    }
  
    #skills li {
      margin-bottom: 3px;
    }
  } 
